/* h1 {
    color: blue;
    background-color: pink;
    font-size: 54px;
}

p {
    color: green;
    font-size: 24px;
} */

p1 {
    color: green;
    font-size: 20px;
}

p2 {
    color: red;
    font-size: 24px;
}